.swagger-ui .scheme-container
{
    box-shadow:none;
    background:none;
}

.info
{
    margin:25px 0 !important;
}

.scheme-container
{
    padding:15px 0 !important;
}

.opblock-summary-control:focus
{
    outline: none !important;
}

.version-stamp
{
    display:none !important;
}

.copy-to-clipboard 
{
    display:none !important;
}

.topbar
{
    display:none;
}